html {
    font-family: Cambria, sans-serif;
    --background: #444054;
    --background-plus: #524d64;
    --foreground: #F9DEC9;
    --link: #cbcef5;

    overflow-x: auto;
}

body {
    background: var(--background);
    background-attachment: fixed;
    max-width: 40em;
    margin: 4em auto;
    word-wrap: break-word;
}

hr {
    color: var(--foreground);
}

section>div.quote-outer {
    background-color: var(--foreground);
}

section>h2.quote-top {
    margin-bottom: 0;
}

section>div.quote-outer>div.quote-inner {
    background-color: var(--background);
    margin-left: 0.25em;
    padding-left: 0.65em;
}

section>div.quote-outer>div.quote-inner>p {
    margin: 0;
    padding: 0.65em 0em;
}

section>div.quote-outer>div.quote-inner:has(a)>a {
    padding-top: 0.65em;
    font-size: larger;
    font-weight: 800;
}

p,
h1,
h3 {
    color: var(--foreground)
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'ms pgothic', sans-serif;
}

p,
a {
    font-size: large;
}

a {
    color: var(--link);
}

h1 {
    font-size: 2.35em;
}

h2 {
    background-color: var(--foreground);
    color: var(--background);
    width: fit-content;
    padding: 0.15em;
}

aside {
    position: relative;
    left: 42em;
    height: 0em;
    width: 12em;
    display: flow-root;
}

@media (width <=70em) {
    aside {
        position: unset;
        display: block;
        height: fit-content;
    }
}

aside>* {
    border-left: 1px var(--link) dotted;
    margin: 0px;
    padding: 0.3em 0px;
    padding-left: 1em;
}

aside>p {
    font-size: medium;
}

article>p>time {
    font-size: small;
}

article>p:has(time) {
    margin-top: -1.75em;
}

img {
    max-height: 16em;
}

code {
    display: block;
    background-color: var(--background-plus);
    padding: 0.5em;
    border-radius: 0.15em;
    border: 1px var(--foreground) solid;
    font-size: large;
    color: var(--foreground);
}

p>code {
    display: inline;
    font-size: small;
    border: none;
    padding: 0.15em;
}

@keyframes terminal-blinker {
    0% {
        background: var(--foreground);
    }

    50% {
        background: transparent;
    }

    100% {
        background: var(--foreground);
    }
}

.terminal-blinker {
    width: 0.65em;
    display: inline-block;
    margin-left: 0em;
    height: 0.2em;
    animation-name: terminal-blinker;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}

.tab-listing {
    display: flex;
    flex-direction: row;
}

.tab-listing>a {
    font-family: 'Consolas';
    margin: 0;
    margin-bottom: -1ch;
    margin-right: 0.45em;
    background-color: var(--foreground);
    color: var(--background);
    padding: 0.15em;
}

.image-description {
    font-size: normal;
    text-align: center;
    margin-top: 0.15em;
    color: var(--link)
}