html {
    font-family: Cambria, sans-serif;
    --background: #444054;
    --foreground: #F9DEC9;
    --link: #cbcef5;
}

body {
    background: var(--background);
    background-attachment: fixed;
    max-width: 40em;
    margin: 4em auto;
}

hr {
    color: var(--foreground);
}

section>div.quote-outer {
    background-color: var(--foreground);
}

section>h2.quote-top {
    margin-bottom: 0;
}

section>div.quote-outer>div.quote-inner {
    background-color: var(--background);
    margin-left: 0.25em;
    padding-left: 0.65em;
}

section>div.quote-outer>div.quote-inner>p {
    margin: 0;
    padding: 0.65em 0em;
}

section>div.quote-outer>div.quote-inner:has(a)>a {
    padding-top: 0.65em;
    font-size: larger;
    font-weight: 800;
}

p,
h1,
h3 {
    color: var(--foreground)
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'ms pgothic', sans-serif;
}

p,
a {
    font-size: large;
}

a {
    color: var(--link);
}

h1 {
    font-size: 2.35em;
}

h2 {
    background-color: var(--foreground);
    color: var(--background);
    width: fit-content;
    padding: 0.15em;
}

@keyframes terminal-blinker {
    0% {
        background: var(--foreground);
    }

    50% {
        background: transparent;
    }

    100% {
        background: var(--foreground);
    }
}

.terminal-blinker {
    width: 0.65em;
    display: inline-block;
    margin-left: 0em;
    height: 0.2em;
    animation-name: terminal-blinker;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}

.tab-listing {
    display: flex;
    flex-direction: row;
}

.tab-listing>a {
    font-family: 'Consolas';
    margin: 0;
    margin-bottom: -1ch;
    margin-right: 0.45em;
    background-color: var(--foreground);
    color: var(--background);
    padding: 0.15em;
}